<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>vue Slider</title>

</head>
<body>
    <div id="app">
         <section>
             <div class="slider">
                 <div class="slide-wrapper">
                     <div v-for="(element,index) in SLIDES" 
                     class="item" 
                     :class=" index === currentIndex ? 'active' : '' ">
                         <img :src="element.imgUrl" alt="">
                         <div class="text">
                            <h3>{{element.titleImg}}</h3>
                            <p>{{element.descriptionImg}}</p>

                        </div>
                     </div>
                     <!-- <div class="item active ">
                        <img src="./img/02.jpg" alt="">
                    </div>
                    <div class="item  ">
                        <img src="./img/03.jpg" alt="">
                    </div>
                    <div class="item  ">
                        <img src="./img/04.jpg" alt="">
                    </div>
                    <div class="item  ">
                        <img src="./img/05.jpg" alt="">
                    </div> -->
                 </div>
                     <div class="thumb-wrapper">
                         <div 
                            v-for="(element,index) in SLIDES"
                            @click="pickOnClick(index)"
                            class="item-sm"  
                            :class=" index === currentIndex ? 'thumb-active' : '' ">
                             <img  :src="element.imgUrl" alt="">
                         </div>
                         
                         <!-- <div class="item-sm">
                            <img src="./img/02.jpg" alt="">
                        </div>
                        <div class="item-sm">
                            <img src="./img/03.jpg" alt="">
                        </div>
                        <div class="item-sm">
                            <img src="./img/04.jpg" alt="">
                        </div>
                        <div class="item-sm">
                            <img src="./img/05.jpg" alt="">
                        </div>
                      -->
                        
                      <div class="arrows up" @click="upSlide"><i class="fa-solid fa-caret-up"></i></div>
                      <div class="arrows down" @click="downSlide"><i class="fa-solid fa-caret-down"></i></div>
                    </div>
                    
                   
             </div>
         </section>
    </div>
    <script src="./js/app.js"></script>
</body>
</html>

